{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <p style="font-size: 33px">Project 2 - Multiple Machine Learing Tools</p>
    <p style="font-size: 16px">We have created two AI Machine learning tools.  </p>
    <p style="font-size: 16px">This tool is designed for non-technical people.  To use this tool, simply select a file, choose the column you wish to predict and choose a model to use. Results and graph options are available after analysis.</p>
    <p style="font-size: 16px">Our second tool 'Pipey' is designed for advanced users.  This tool provides many options for preprocessing the file prior to analysis. Resulsts and graphs are also displayed after alalysis</p>





    {% if data %}
    <p>Selected training File: {{ data.selectedFile }}</p>
    <p>Column to predict: '{{data.fieldSelected}}'</p>

    <p style="font-size: 18px">Click below to select a different training file or select a processing model below.</p>
    <a class="btn btn-default" href="{{ url_for('select_file')}}">Select a different file &raquo;</a>
    {% else %}
    <p style="font-size: 18px">The followin models/tools are available:</p>
    <ul>
        <li style="font-size: 16px">TPOT - Tree-based Pipeline Optimization Tool</li>
        <li style="font-size: 16px">H20 AutoML - Automated machine learning framework.</li>
        <li style="font-size: 16px">Pipey - Our Advanced ML tool</li>
    </ul>
    <p style="font-size: 18px">Select a training file to begin</p>
    <a class="btn btn-default" href="{{ url_for('select_file')}}">Select training file &raquo;</a>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TPOT</h2>
        <p>
            TPOT is one of the tools you can use to analyze your data.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('tpot')}}">TPOT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>H20 AutoML</h2>
        <p>H2O AutoML is an automated machine learning tool developed by H2O.ai, a company specializing in open-source machine learning and artificial intelligence platforms. Some key fetures include:
        <p><a class="btn btn-default" href="{{ url_for('automl') }}">H20 AutoML &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pipey</h2>
        <p>This is our Machine Learning tool for advanced users.</p>
        <p><a class="btn btn-default" href="{{ url_for('model3') }}">Pipey &raquo;</a></p>
    </div>
</div>

{% endblock %}
