{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>TPOT</h2>
    <p style="font-size: 18px"> TPOT stands for Tree-based Pipeline Optimization tool. It is an automated machine learning (AutoML) tool in Python that optimizes machine learning pipelines using genetic programming. TPOT can automatically explore a wide range of machine learning algorithms and preprocessing techniques to find the best pipeline for a given dataset.</p>

    <form method="POST" action="/tpot_process" enctype="multipart/form-data">
        {% if data %}
        {% else %}
            <p  style="font-size: 16px">This may take a while..</p>
            <input class="btn btn-default" type="submit" value="Begin Model Training">
        {% endif %}

    </form>
    <form method="POST" action="/select_production_file" enctype="multipart/form-data">
        {% if data %}
        <p style="font-size: 16px">Now that the Model is trained please select a file to predict and the program will update the results after analyzing your production data.</p>
        <input class="btn btn-default" type="submit" value="Select Production file">
        {% else %}
        <p></p>
        {% endif %}
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accuracy</h2>
        {% if data  %}
            <p>TPOT was able to predict churn with an accuracy value of: {{ data.accuracy * 100 }}%</p>
        {% else %}
            <p>The accuracy will be displayed once processing is complete.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Important Factors</h2>
        {% if data %}

        <p>
            These fields or factors were determined to have the highest impact on churn:<br>
            <ul>
                {% for feature in data.key_features_list %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </p>
        {% else %}
            <p>Important factors will be displayed once processing is complete.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Visual Represtations </h2>
        <p>Below are visual representations of the data:</p>
        <form method="POST" action="/confusion_matrix" enctype="multipart/form-data">
            {% if data %}
                <input class="btn btn-default" type="submit" value="Show Confusion Matrix">
            {% else %}
                <p></p>
            {% endif %}
        </form>

        <form method="POST" action="/display_graph" enctype="multipart/form-data">
            {% if data %}
            <h3>Please select the field to see how it impacted {{ data.selectedY }}'</h3>
            <input type="radio" name="graph_type" value="bar" checked> Bar Graph<br>
            <input type="radio" name="graph_type" value="line"> Line Graph<br>
            <select name="dropdown">
                {% for option in data.key_features %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="btn btn-default" type="submit" value="Show Graph">
            {% else %}
                <p></p>
            {% endif %}
        </form>
            <p></p>
</div>        
</div>
{% endblock %}
